{% load verbatim_templatetag %}

<script type="text/x-handlebars">
<div id="form_add_dish" class="reveal-modal">
    
    <h4>Add A Dish</h4>
    
    {% verbatim %}
    <form id="add_dish" action="#" method="POST" onsubmit="return false">    	                
                     
        <div class="row">    
            
            <div class="twelve columns">  
            
                
                <label for="name">Name</label>
                {{view Ember.TextField valueBinding="App.homePageForms.item.name" placeholder="Name" id="name" name="name" }}
                
                <label for="type">Type</label>
                {{view Ember.Select
                  contentBinding="App.homePageControl.meal_types"
                  valueBinding="App.homePageControl.form.item.fk_meal_element_type_id"
                  optionLabelPath="content.name"
                  optionValuePath="content.id"
                  prompt="Select..."  
                }}
                
            </div>
         
         </div>
         
         <div class="row">    
                    
            <div class="twelve columns" style="text-align: right">  
            
                <input type="submit" class="small button" value="Save &raquo;" />   
            
            </div>
          
        </div>
        
    </form>
    {% endverbatim %}
                
    <a class="close-reveal-modal">&#215;</a>
    
</div>
</script>