<script type="text/javascript" src="/web/js/vendor/ember/starter-kit/js/libs/handlebars-1.0.0.beta.6.js"></script>
<script type="text/javascript" src="/web/js/vendor/ember/starter-kit/js/libs/ember-1.0.pre.js"></script>

<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.namespace.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.utils.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.connection.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.item.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.collection.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.serializable.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.pagination.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.dragndrop.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.tabledata.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.models.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.views.js"></script>   
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.error.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.settings.js"></script>
<script type="text/javascript" src="/web/js/collectrium_utils/collectrium.ember.app.js"></script>
