<script type="text/javascript" src="/web/js/vendor/jquery/jquery.text-overflow.min.js"></script>
<script type="text/javascript" src="/web/js/vendor/jquery/jquery-form-3.08/jquery.form.js"></script>
<script type="text/javascript" src="/web/js/vendor/jquery/jquery-validation-1.9.0/jquery.validate.js"></script>
<script type="text/javascript" src="/web/js/vendor/jquery/jEditable/jquery.jeditable.js"></script>
<script type="text/javascript" src="/web/js/vendor/jquery/jquery-autocomplete/jquery.autocomplete.min.js"></script>