 {% load verbatim_templatetag %}
 
<!-- ZURBar -->
<div class="container top-bar home-border">
  <div class="attached">
    <div class="name" onclick="void(0);">
      <span><a href="/">FouSous</a> <a href="#" class="toggle-nav"></a></span>
		</div>

		<ul class="right">
          <li class="show-for-small">
            <a href="#">Home</a>
          </li>
          <li>
          <a href="#" >Features</a>
          </li>
          <li>
            <a href="#">Add-ons</a>
          </li>
          <li>
            <a href="#" >Case Studies</a>
          </li>
          <li>
            <a href="#">Docs</a>
          </li>
          <li>
            <a href="https://github.com/Goldcap/FouSous">GitHub</a>
          </li>
          <li class="download"><a class="small blue nice button src-download" href="download.php">iPad App</a></li>
		</ul>
	</div>
</div>

<!-- INSERT MEGA DROP DOWN HERE -->
<div class="container" id="megaDrop">
<div class="mobile-main-nav-padding">
  
  <div class="row top">
    <div class="eight columns">
      <a href="#"><h4><img alt="Zurb-logo-drop-down" src="http://www.zurb.com/assets/logo/zurb-logo-drop-down-ec71ef7b6be82b12ab4a64a655377e1f.png" /> Design Great Products Faster</h4></a>
    </div>
    <div class="four columns">
      <div class="right links">
        <a href="#">About</a> | <a href="http://www.zurb.com/blog">ZURBlog </a> | <a href="http://www.zurb.com/sitemap">Sitemap</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="tablet-padding">
      <div class="three columns property" id="services">
        <a href="http://www.zurb.com/services">
          <h4>Services</h4>
          <p>We'll help you get online products designed better and faster than ever before and set you up for future iterations.</p>
          <span>Let's Work Together &rarr;</span>
        </a>
      </div>
      
      <div class="show-on-phones"><br /><br /></div>
      <div class="three columns property" id="foundation">
        <a href="http://foundation.zurb.com">
          <h4>Foundation</h4>
          <p>We developed the most advanced responsive front-end framework in the world and made it free-for-all.</p>
          <span>Discover Foundation &rarr;</span>
        </a>
      </div>
      <div class="show-on-phones"><br /><br /></div>
      <div class="three columns property" id="apps">
        <a href="http://zurb.com/apps">
          <h4>ZURB<span class="apps">apps</span></h4>
          <p>A powerful design suite that will help you prototype, iterate and collect feedback on your product design.</p>
          <span>Get Started &rarr;</span>
        </a>
      </div>
      
      <div class="show-on-phones"><br /><br /></div>
      <div class="three columns property" id="expo">
        <a href="http://zurb.com/expo">
          <h4>Expo</h4>
          <p>We think anyone can design great products and we will share our thoughts, ideas and design resources to show you how to do it.</p>
          <span>Learn More &rarr;</span>
        </a>
      </div>
    </div>
  </div>
  
  
</div>
</div>
<!-- /ZURBar -->

<header id="homepage">

  <div class="row">
    <div class="twelve columns">
      <h4>The best way to track and rate meals, dishes, and happy full tummies.</h4>

      {% verbatim %}
      <script type="text/x-handlebars">
      {{#view App.homePageActions}}
      <a class="large button mainDownload" {{action doRate}}>Rate Your Meal</a>
      <a href="#" class="large button show-for-small deviceDownload" {{action doRate}}>Rate Your Meal</a>
      
      <div id="watch">
        <section>
          <a href="#" class="small secondary button" {{action doMeal}}>Add a Meal</a>
        </section>
        <section>
          <a href="#" class="small secondary button" {{action doDish}}>Add a Dish</a>
        </section>
      </div>
      {{/view}}
      </script>
      {% endverbatim %}
      
    </div>
  </div>

</header>

<!--<section id="homepageFeatures">

  <div class="row">
    <div class="nine columns">
      <h3>What's new in 3?</h3>

      <div class="row">
        <div class="four columns">
          <a href="whats-new.php"><div class="pic" id="homepageImgSass"></div></a>

          <h5>Developed with Sass</h5>
          <p>Foundation 3 is built with Sass, a powerful CSS preprocessor, which allows us to much more quickly develop Foundation itself &mdash; and gives you new tools to quickly customize and build on top of Foundation.</p>
        </div>
        <div class="four columns">
          <a href="whats-new.php"><div class="pic" id="homepageImgFeatures"></div></a>

          <h5>Feature Complete</h5>
          <p>We've added new elements, new options, and tons of streamlining to make this the fastest way to prototype responsively &mdash; and take that right into production.</p>
        </div>
        <div class="four columns">
          <a href="whats-new.php"><div class="pic" id="homepageImgAdvanced"></div></a>

          <h5>Freakishly Advanced</h5>
          <p>Foundation is the most advanced front-end framework in the world. While the framework works all the way back to IE8, we're taking advantage of new, awesome Web technology to help you build better and faster.</p>
        </div>
      </div>

    </div>

    <div class="three columns">
      <div id="github">
        <h4>Latest Update on Github</h4>
        <span class="date">loading...</span>
        <span class="description"></span>
        <a href="#" class="commit"></a>

        <a href="github-mac://openRepo/https://github.com/zurb/foundation" class="button secondary">Clone Now</a>

        <img src="images/yeti9000.png" />
      </div>
    </div>

  </div>

</section>

<section class="row" id="frameworkFeatures">
  <div class="twelve columns">
    <h3>Start here, build everywhere.</h3>

    <div class="row">
      <div class="four columns">
        <a href="grid.php" class="pic" id="featureGrid"></a>
        <h4><a href="grid.php">Flexible Grid</a></h4>

        <p>The Grid lets you lay out pages quickly and logically with a flexible, nestable system. Even better, the Grid can be whatever size you need &mdash; it's easily adapted to any size screens, from phones to TVs.</p>

      </div>
      <div class="four columns">
        <a href="prototyping.php" class="pic" id="featurePrototype"></a>
        <h4><a href="prototyping.php">Rapid Prototyping</a></h4>

        <p>Foundation includes dozens of styles and elements to help you quickly put together clickable prototypes, that can then be adapted and styled into polished production code. Forms, buttons, tabs, all kinds of good stuff.</p>

      </div>
      <div class="four columns">
        <a href="mobile.php" class="pic" id="featureDevices"></a>
        <h4><a href="mobile.php">Multidevice Mobility</a></h4>

        <p>The Grid lets you quickly put together page layouts for mobile devices and the desktop. You don't need two different sites &mdash; the Grid is built to create a rock-solid experience on all kinds of devices with the exact same markup.</p>

      </div>
    </div>
  </div>
</section>

<section id="caseStudies">
  <div class="row">
    <div class="twelve columns">
      <h3>Case Studies</h3>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <div class="case-study">
        <a href="case-flite.php"><img src="images/case-study-flite.png" /></a>

        <h4><a href="case-flite.php">Flite</a></h4>
        <p>When online advertising tech firm Flite needed to do a redesign of its website, it knew that it had to work on any device, not just desktops.<br /><a href="case-flite.php">Read the case study &rarr;</a></p>
      </div>
    </div>
    <div class="six columns">
      <div class="case-study">
        <a href="case-swizzle.php"><img src="images/case-study-swizzle.png" /></a>

        <h4><a href="case-swizzle.php">Swizzle</a></h4>
        <p>Online service and design agency Swizzle built this site just a month after the release of Foundation, and it's beautifully responsive.<br /><a href="case-swizzle.php">Read the case study &rarr;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <div class="case-study">
        <a href="case-soapbox.php"><img src="images/case-study-soapbox.png" /></a>

        <h4><a href="case-soapbox.php">ZURBsoapbox</a></h4>
        <p>One of the first sites built with Foundation, this site helps visitors to ZURB's speaking series learn, listen, and RSVP to events.<br /><a href="case-soapbox.php">Read the case study &rarr;</a></p>
      </div>
    </div>
    <div class="six columns">
      <div class="case-study">
        <a href="case-reel.php"><img src="images/case-study-reel.png" /></a>

        <h4><a href="case-reel.php">Reel</a></h4>
        <p>A presentation hosting Web app built by ZURB, Foundation not only drives the entire app UI, but also drives its embeddable presentations.<br /><a href="case-reel.php">Read the case study &rarr;</a></p>
      </div>
    </div>
  </div>
</section>

<section id="usingFoundation">
  <div class="row">
    <div class="twelve columns">
      <h3>Sites Using Foundation</h3>
      <a href="mailto:foundation@zurb.com" class="top-right">Is your site using Foundation? Let us know!</a>

      <ul class="block-grid five-up">
        <li><a href="http://projection.pixar.com/" id="usingPixar" target="_blank"><img src="images/usingPixar.png" /></a></li>
        <li><a href="http://codesign.lanl.gov/" id="usingLosAlamos" target="_blank"><img src="images/usingLosAlamos.png" /></a></li>
        <li><a href="http://www.flite.com/" id="usingFlite" target="_blank"><img src="images/usingFlite.png" /></a></li>
        <li><a href="http://www.zurb.com" id="usingZURB" target="_blank"><img src="images/usingZURB.png" /></a></li>
        <li><a href="http://www.getfelix.com/" id="usingFelix" target="_blank"><img src="images/usingFelix.png" /></a></li>
        <li><a href="https://webfwd.org/" id="usingWebFWD" target="_blank"><img src="images/usingMozilla.png" /></a></li>
        <li><a href="http://globalcloset.education.nationalgeographic.com/" id="usingReel" target="_blank"><img src="images/usingNatGeo.png" /></a></li>
        <li><a href="http://spurapp.com/" id="usingSpur" target="_blank"><img src="images/usingSpur.png" /></a></li>
        <li><a href="http://zurb.com/soapbox/" id="usingSoapbox" target="_blank"><img src="images/usingSoapbox.png" /></a></li>
        <li><a href="http://axeapp.com/" id="usingAxe" target="_blank"><img src="images/usingAxe.png" /></a></li>
      </ul>
    </div>
  </div>
</section>-->



<footer class="row">
  <section class="five columns">
    <h6><strong>Made by Operis Labs</strong></h6>
    <p>FouSous is made by <a href="http://www.operislabs.com/">Operis Labs</a>, a product development company in Brooklyn, NY. We've put more than 14 years of experience building web products, services and websites into this site. <a href="http://www.operislabs.com">Operis Info &rarr;</a></p>
  </section>

  <section class="three columns">
    <h6><strong>Using FouSous?</strong></h6>
    <p>Let us know how you're using FouSous and we might feature you as an example!<br /><a href="mailto:amadsen@operislabs.com?subject=I'm%20using%20FouSous">Get in touch &rarr;</a></p>
  </section>

  <section class="four columns">
    <h6><strong>Need some help?</strong></h6>
    <p class="support">For answers or help visit the <a href="#">Support page</a>.</p>

    <ul class="link-list">
    	<li>
  	    <a href="http://www.facebook.com/goldcapX" target="_blank"><span class="glyph social">d</span></a>
  		</li>
  		<li>
        <a href="https://plusone.google.com/_/+1/confirm?url=http://www.operislabs.com&title=Operis%20Labs" target="_blank"><span class="glyph social">l</span></a>
  		</li>
  		<li>
  			<a href="https://twitter.com/goldcap" target="_blank"><span class="glyph social">e</span></a>
  		</li>
  	</ul>
  
  </section>
</footer>

<div id="newsletter">
  <div class="row">
    
    <div class="eight columns">
      
    </div>
  
    <div class="four columns">
      <div class="row collapse">
        <form method="post">
          <div class="eight mobile-three columns">
            <input type="text" name="email" placeholder="signup@example.com" />            </div>
                      <div class="four mobile-one columns">
            <input type="submit" href="#" class="postfix button expand" value="Sign Up" />
          </div>
                    </form>
      </div>
    </div>
  </div>
</div>

<div id="copyright">
  <div class="row">
    <div class="four columns">
      <p>Site content &copy; 2012 Operis Labs, inc.</p>
    </div>
    <div class="eight columns">
      <ul class="link-list right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Install</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>